*.py[cod]

# C extensions
/dpark/portable_hash.c
/dpark/utils/recursion.c
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.eggs
.cache
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Pycharm
.idea
